@font-face {
   font-family: "PT Sans";
   src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
      url('../fonts/PTSans-Regular.woff') format('woff');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
      url('../fonts/PTSans-Bold.woff') format('woff');
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

:root {
   --blue: #82b3d3;
   --blue-hover: #68a2ca;
   --green: #7db54f;
   --green-hover: #6c9e42;
   --brown: #756157;
   --brown-hover: #615048;
}

/* GENERAL */
@media (min-width: 1000px) {
   .button:hover {
      background-color: var(--brown-hover);
   }

   .newsletter-button:hover {
      background-color: var(--blue-hover);
   }

   .social-link:hover svg {
      fill: var(--blue-hover);
   }

   .footer-phone:hover {
      color: #756157;
   }

   .footer-logo:hover svg {
      fill: #756157;
   }

   .nav-link:not(.nav-link-current):hover {
      border-bottom: 3px solid black;
   }

   .nav-link-current:hover::after {
      background-color: #000;
   }

   .user-nav-search:hover svg {
      fill: blue;
   }

   .user-nav-link:hover svg {
      fill: blue;
   }

   .button-apply:hover {
      background-color: var(--blue-hover);
   }

   .button-reset:hover {
      opacity: 0.6;
   }

   .price-input:hover {
      border-color: rgba(255, 255, 255, 0.6);
   }

   .price-range-button:hover {
      background-color: rgb(207, 205, 205);
   }

   .filter-label:hover .mark {
      background-color: rgba(255, 255, 255, 0.6)
   }

   .breadcrumbs-link:hover {
      color: rgba(255, 255, 255, 0.6);
   }

   .breadcrumbs-link:hover svg {
      fill: rgba(255, 255, 255, 0.6);
   }

   .button-add-to-favorite:hover {
      background-color: var(--blue-hover);
   }

   .button-in-favorite:hover {
      background-color: var(--green-hover);
   }

   .product-order-select:hover {
      border-color: var(--blue-hover)
   }

   .layout-link:hover {
      border-color: #000;
   }

   .pagination-link:hover {
      background-color: var(--blue-hover);
   }
}

*,
*::before,
*::after {
   box-sizing: border-box;
   outline: none;
}

html {
   min-height: 100%;
}

body {
   font-family: "PT Sans", sans-serif;
   margin: 0;
   color: #000;
   position: relative;
   display: flex;
   min-height: 100%;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

input {
   border: none;
   outline: none;
}

.page-container {
   position: relative;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.container {
   max-width: 1120px;
   margin: 0 auto;
   padding: 0 30px;
}

.button {
   width: 160px;
   height: 37px;
   color: #fff;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 700;
   background-color: #756157;
   border: none;
   border-radius: 4px;
   padding: 0 10px;
   transition: background-color .3s;
}

.button:focus {
   background-color: var(--brown-hover);
}

.button:active {
   color: rgba(255, 255, 255, 0.3);
   outline: none;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.section-title {
   margin: 0 auto;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 30px;
}

.section-descr {
   margin: 0 auto;
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   color: #333333;
}

/* HIDE ARROWS NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type=number] {
   -moz-appearance: textfield;
}

/* / GENERAL */


/* HEADER */
.header {
   display: flex;
   padding: 0 70px;
}

.header-logo {
   position: absolute;
   z-index: 100;
}

.header-nav {
   display: flex;
   width: 100%;
   padding: 14px 0;
   justify-content: space-between;
   margin-left: 180px;
}

.nav-list {
   display: flex;
}

.nav-social-list {
   display: none;
}

.nav-item {
   display: flex;
   align-items: center;
}

.nav-item:not(:last-child) {
   margin-right: 30px;
}

.nav-link {
   font-size: 20px;
   font-weight: 700;
   position: relative;
}

.nav-link:focus {
   outline: 2px solid var(--blue-hover);
}

.nav-link:active {
   opacity: 0.6;
   outline: none;
}

.nav-link-current::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -21px;
   width: 100%;
   height: 2px;
   background-color: #756257;
}

.header-nav-right {
   display: flex;
   align-items: center;
}

.header-search-input {
   display: none;
   margin-left: 10px;
}

.user-nav-list {
   display: flex;
   align-items: center;
   margin-right: 20px;
}

.user-nav-item {
   position: relative;
}

.user-nav-item:not(:last-child) {
   margin-right: 23px;
}

.user-nav-link:focus,
.user-nav-search-button:focus {
   outline: 2px solid var(--blue-hover);
}

.user-nav-link:active,
.user-nav-search:active {
   opacity: 0.6;
   outline: none;
}

.user-nav-search {
   cursor: pointer;
}

.user-nav-search svg,
.user-nav-link svg {
   fill: #000;
}

.favorite-number {
   position: absolute;
   width: 20px;
   height: 20px;
   background-color: #7db54f;
   border-radius: 100%;
   display: flex;
   left: 10px;
   top: -10px;
}

.favorite-number-text {
   color: #fff;
   font-size: 10px;
   letter-spacing: -0.1em;
   margin: auto;
}

.burger {
   width: 30px;
   height: 15px;
   position: relative;
   margin-left: 10px;
   display: none;
}

.burger::before,
.burger::after {
   content: "";
   position: absolute;
   height: 2px;
   width: 100%;
   background-color: #000;
   left: 0;
}

.burger::before {
   top: 0;
}

.burger::after {
   bottom: 0;
}

.burger span {
   position: absolute;
   height: 2px;
   width: 100%;
   background-color: #000;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
}

.header-phone {
   font-weight: 700;
   font-size: 18px;
   margin-top: 40px;
   display: none;
}

/* / HEADER */


/* HERO */
.hero {
   display: flex;
   flex-direction: column;
   padding-bottom: 90px;
}

.hero-top {
   padding-top: 51px;
   padding-bottom: 82px;
   background-image: url(../images/hero-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: #3F5E72;
   display: flex;
   position: relative;
   margin-bottom: 60px;
}

.hero-top::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 57px;
   background-image: url(../images/hero-divider.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.hero-welcome {
   margin: 0 auto;
}

.hero-text {
   margin: 0 auto;
   padding: 0 30px;
   max-width: 620px;
}

/* / HERO */


/* ADVANTAGES */
.advantages-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
   height: 384px;
   background-color: #fff;
   position: relative;
   display: flex;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4),
.advantages-item:nth-child(6),
.advantages-item:nth-child(8) {
   background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(7) {
   background-color: rgba(131, 179, 211, 0.2);
}

.advantages-first,
.advantages-second {
   grid-column: 1 / 4;
   background-color: red;
}

.advantages-content {
   height: 100%;
   width: 33.333%;
   background-color: var(--blue);
   display: flex;
   color: #fff;
}

.advantages-text {
   margin: auto;
   max-width: 230px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.advantages-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 117%;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 30px;
}

.advantages-number {
   font-size: 18px;
   line-height: 117%;
   text-align: center;
   margin-bottom: 30px;
}

.advantages-descr {
   font-size: 18px;
   line-height: 117%;
   text-align: center;
}

.advantages-first::after {
   content: "";
   height: 100%;
   width: 66.667%;
   background-image: url(../images/advantages-item-big1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.advantages-second::before {
   content: "";
   height: 100%;
   width: 66.667%;
   background-image: url(../images/advantages-item-big2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.advantages-item:nth-child(2) .advantages-text::before {
   content: "";
   width: 75px;
   height: 72px;
   background-image: url(../images/house.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-bottom: 30px;
}

.advantages-item:nth-child(3) .advantages-text::before {
   content: "";
   width: 74px;
   height: 70px;
   background-image: url(../images/food.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-bottom: 30px;
}

.advantages-item:nth-child(4) .advantages-text::before {
   content: "";
   width: 64px;
   height: 76px;
   background-image: url(../images/souvenirs.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-bottom: 30px;
}

/* / ADVANTAGES */


/* HOTEL SEARCH */
.hotel-search {
   padding: 90px 0;
   display: flex;
}

.hotel-search-container {
   margin: 0 auto;
   max-width: 590px;
   padding: 0 30px;
}

.hotel-search-descr {
   margin-bottom: 50px;
}

.hotel-search-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 60px;
}

/* / HOTEL SEARCH */


/* NEWSLETTER */
.newsletter {
   padding: 90px 0;
   background-image: url(../images/newsletter-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: #3F5E72;
   color: #fff;
}

.newsletter-container {
   max-width: 800px;
   margin: 0 auto;
   padding: 0 30px;
}

.newsletter-descr {
   color: inherit;
   margin-bottom: 45px;
   max-width: 475px;
}

.newsletter-form {
   width: 100%;
   height: 60px;
   display: flex;
}

.newsletter-input {
   width: 75%;
   height: 100%;
   border-radius: 8px 0 0 8px;
   padding: 0 30px;
}

.newsletter-button {
   width: 25%;
   height: 100%;
   border-radius: 0 8px 8px 0;
   background-color: var(--blue);
}

/* / NEWSLETTER */


/* FOOTER */
.footer {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   padding: 40px 6.667%;
}

.social-list {
   display: flex;
   flex-wrap: wrap;
}

.social-item:not(:last-child) {
   margin-right: 25px;
}

.social-link svg {
   fill: #83b3d3;
   transition: fill .3s;
}

.footer-phone {
   font-size: 40px;
   transition: color .3s;
}

.footer-phone:active {
   color: rgba(117, 97, 87, 0.3);
}

.footer-logo svg {
   fill: #000;
   transition: fill .3s;
}

.footer-logo:focus svg {
   fill: #756157;
}

.footer-logo:active svg {
   fill: rgba(117, 97, 87, 0.3);
}

/* / FOOTER */

.overlay {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 999;
   display: none;
}


/* --- CATALOG --- */

/* FILTERS */
.filter {
   padding-top: 35px;
   padding-bottom: 70px;
   background-image: url(../images/filter-background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: #3F5E72;
}

.filter-title {
   font-weight: 700;
   font-size: 60px;
   line-height: 78px;
   color: #fff;
}

.breadcrumbs {
   display: flex;
   align-items: center;
   margin-bottom: 40px;
}

.breadcrumbs-item:not(:first-child) {
   padding-left: 16px;
   background-image: url(../images/breadcrumbs-arrow.svg);
   background-repeat: no-repeat;
   background-position: center left;
   background-size: 5px 8px;
}

.breadcrumbs-item:not(:last-child) {
   margin-right: 10px;
}

.breadcrumbs-link {
   font-size: 16px;
   line-height: 21px;
   color: #fff;
   display: flex;
   align-items: flex-end;
   border-radius: 4px;
}

.breadcrumbs-link svg {
   fill: #fff;
}

.breadcrumbs-link:active {
   color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active svg {
   fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus {
   outline: 3px solid #83b3d3;
}

.filter-form {
   display: grid;
   grid-template-columns: repeat(2, auto);
   column-gap: 16.5%;
}

.filter-form-col {
   display: grid;
   grid-template-columns: repeat(2, auto);
   column-gap: 70px;
}

.filter-group-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   color: #fff;
   margin-bottom: 30px;
}

.filter-group-item:not(:last-child) {
   margin-bottom: 15px;
}

.filter-label-name {
   font-size: 18px;
   line-height: 21px;
   color: #fff;
   cursor: pointer;
}

.filter-label {
   display: flex;
}

.filter-label:active .mark {
   background-color: rgba(255, 255, 255, 0.3);
}

.mark {
   width: 20px;
   height: 20px;
   background-color: #fff;
   border-radius: 4px;
   margin-right: 20px;
   position: relative;
}

.filter-label-field[type="radio"]+.mark {
   border-radius: 100%;
}

.filter-label-field[type=checkbox]:checked+.mark {
   background-image: url(../images/filter-tick.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 12px 10px;
}

.filter-label-field[type=radio]:checked+.mark::after {
   position: absolute;
   content: "";
   width: 10px;
   height: 10px;
   background-color: #3F5E72;
   border-radius: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.filter-label-field:focus+.mark {
   outline: 3px solid #83B3D3;
}

.price-inputs-container {
   display: flex;
   margin-bottom: 30px;
}

.price-input {
   width: 144px;
   height: 48px;
   background-color: transparent;
   border: 2px solid #fff;
   padding: 0 15px;
   font-size: 18px;
   line-height: 21px;
   color: #fff;
}

.price-input:last-child {
   border-left: none;
}

.price-input::placeholder {
   text-align: right;
}

.price-input:focus-within {
   background-color: #756257;
}

.price-input:focus {
   outline: 3px solid #81B3D2;
}

.price-range-scale {
   width: 100%;
   height: 4px;
   background-color: rgba(255, 255, 255, 0.3);
   position: relative;
}

.price-range {
   width: 80%;
   height: 4px;
   background-color: #fff;
   position: absolute;
   left: 0;
   top: 0;
}

.price-range-button {
   width: 20px;
   height: 20px;
   background-color: #fff;
   border-radius: 5px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

.price-range-button:first-of-type {
   left: 0;
}

.price-range-button:last-of-type {
   left: 80%;
}

.price-range-button:focus {
   outline: 3px solid #83B3D3;
}

.price-range-button:active {
   outline: 2px solid #83B3D3;
}

.filter-form-buttons-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}

.button-reset {
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #fff;
   margin-top: 24px;
   border-radius: 4px;
}

.button-reset:active {
   opacity: 0.3;
}

.button-apply {
   height: 45px;
   background-color: var(--blue);
}

.button-apply:focus {
   background-color: var(--blue-hover);
}

.button-reset:focus {
   outline: 3px solid #83b3d3;
}

.button-reset:active {
   opacity: 0.3;
   outline: none;
}

/* / FILTERS */
/* --- / CATALOG --- */


/* PRODUCT CARDS */
.layout-list {
   display: flex;
}

.layout-item:not(:last-child) {
   margin-right: 8px;
}

.layout-link {
   display: block;
   width: 48px;
   height: 48px;
   border-radius: 4px;
   border: 2px solid #E5E5E5;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 16px 14px;
   transition: border-color .2s;
}

.layout-link:focus {
   border-color: var(--blue-hover);
}

.layout-link:active {
   border-color: #000;
}

.layout-link-current {
   border: 2px solid #000;
}

.layout-item:nth-child(1) .layout-link {
   background-image: url(../images/icon-table.svg);
}

.layout-item:nth-child(2) .layout-link {
   background-image: url(../images/icon-slideshow.svg);
}

.layout-item:nth-child(3) .layout-link {
   background-image: url(../images/icon-list.svg);
}

.product-cards-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 50px;
}

.product-cards-top .section-title {
   margin: 0;
}

.product-order-select {
   width: 290px;
   height: 50px;
   appearance: none;
   padding-left: 20px;
   border: 2px solid #E5E5E5;
   border-radius: 4px;
   font-size: 18px;
   line-height: 21px;
   color: #333333;
   position: relative;
   background-image: url("../images/select-arrow.svg");
   background-repeat: no-repeat;
   background-position: center right 20px;
   background-size: 12px 7px;
   transition: border-color .2s;
}

.product-order-select:focus {
   border-color: var(--blue-hover);
}

.product-cards-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 18px;
   padding-bottom: 60px;
   border-bottom: 1px solid #e6e6e6;
}

.product-card {
   max-width: 340px;
   padding: 20px;
}

.product-card-image {
   display: block;
   width: 100%;
}

.product-card-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   margin: 16px 0;
}

.product-name,
.product-price {
   font-size: 18px;
   line-height: 21px;
   color: #333333;
}

.product-rating {
   display: block;
   font-size: 16px;
   line-height: 37px;
   text-align: center;
   text-transform: uppercase;
   color: #333333;
   width: 140px;
   height: 37px;
   background-color: #f2f2f2;
   border-radius: 4px;
}

.product-information .button {
   width: 100%;
}

.button-add-to-favorite {
   background-color: var(--blue);
}

.button-add-to-favorite:focus {
   background-color: var(--blue-hover);
}

.button-in-favorite {
   background-color: var(--green);
}

.button-in-favorite:focus {
   background-color: var(--green-hover);
}

.product-information {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 20px;
   row-gap: 16px;
   width: 100%;
}

.product-rating-points {
   display: flex;
   align-self: center;
}

.rating-point {
   width: 18px;
   height: 17px;
   background-image: url(../images/rating-star.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 18px 17px;
}

.rating-point:not(:last-child) {
   margin-right: 6px;
}

.product-card-link {
   position: relative;
}

.product-card-link:after {
   position: absolute;
   content: "";
   inset: 0;
   border: 2px solid var(--blue-hover);
   display: none;
}

.product-card-link:focus::after {
   display: block;
}

.pagination-container {
   padding: 25px 0;
   display: flex;
   justify-content: space-between;
}

.pagination {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 400px;
}

.pagination-mobile {
   display: none;
}

.pagination-item {
   border-radius: 4px;
   overflow: hidden;
   margin-bottom: 8px;
}

.pagination-item:not(:last-child) {
   margin-right: 8px;
}

.pagination-link {
   display: block;
   width: 60px;
   height: 60px;
   background-color: var(--blue);
   font-weight: 700;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #fff;
   transition: background-color .2s;
}

.pagination-link svg {
   fill: #fff;
}

.pagination-prev {
   transform: rotate(180deg);
}

.pagination-link:focus {
   background-color: var(--blue-hover);
}

.pagination-link:active {
   color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
   background-color: #f2f2f2;
   color: #000;
}

.pagination-link-current:hover {
   background-color: #f2f2f2;
}

.pagination-link-current:active {
   color: #000;
}

.pagination-link-current:focus {
   background-color: #f2f2f2;
}

.newsletter-catalog {
   background: #fff;
   color: #000;
}

.newsletter-catalog-input {
   background-color: #f2f2f2;
}

/* / PRODUCT CARDS */








/* MEDIA QUERIES */
@media (max-width: 1100px) {
   .filter-form {
      grid-template-columns: 1fr;
      row-gap: 30px;
   }

   .filter-form-col {
      grid-template-columns: 1fr 1fr;
   }

   .filter-group:last-child {
      justify-self: center;
   }

   .product-cards-list {
      grid-template-columns: 1fr 1fr;
   }

   .product-card {
      justify-self: center;
   }
}

@media (max-width: 991.99px) {
   .header-nav {
      width: 250px;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 200;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #fff;
      margin-left: 0;
      padding: 65px;
      padding-left: 30px;
      transform: translateX(-150vw);
      transition: transform .3s;
      z-index: 1000;
   }

   .header-nav.open {
      transform: translateX(0);
   }

   .nav-list {
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
   }

   .nav-item {
      width: 100%;
      padding: 10px 0;
   }

   .nav-item {
      border-bottom: 1px solid rgba(117, 97, 87, 0.9);
   }

   .nav-link {
      text-transform: uppercase;
   }

   .nav-link-current::after {
      display: none;
   }

   .nav-item {
      justify-content: flex-start;
   }

   .nav-item:not(:last-child) {
      margin-right: 0;
   }

   .user-nav-list {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      margin-bottom: 30px;
      width: 100%;
   }

   .user-nav-item:first-child {
      display: flex;
      width: 100%;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(117, 97, 87, 0.9);
   }

   .user-nav-item:first-child {
      margin-bottom: 30px;
   }

   .header-search-input {
      display: block;
      width: 100%;
      padding-right: 20px;
      margin-bottom: 4px;
   }

   .header-nav-right {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
   }

   .user-nav-item:not(:last-child) {
      margin-right: 0;
   }

   .header {
      height: 65px;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 0 15px;
   }

   .header-button {
      align-self: flex-start
   }

   .header-logo {
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
   }

   .burger {
      display: block;
   }

   .advantages-list {
      grid-template-columns: 1fr 1fr;
   }

   .advantages-first,
   .advantages-second {
      grid-column: 1 span;
   }

   .advantages-content {
      width: 100%;
   }

   .advantages-first::after {
      display: none;
   }

   .advantages-second::before {
      display: none;
   }

   .advantages-item:nth-child(2),
   .advantages-item:nth-child(6),
   .advantages-item:nth-child(7) {
      background-color: #fff;
   }
}

@media (max-width: 767.99px) {
   .header-phone {
      display: block;
   }

   .newsletter {
      padding: 60px 0;
   }

   .footer {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .footer-phone {
      display: none;
   }

   .product-cards-list {
      grid-template-columns: 1fr;
      padding-bottom: 30px;
   }

   .product-cards-top {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 20px;
      justify-items: center;
      padding-bottom: 20px;
   }

   .pagination {
      margin: 0 auto;
   }

   .layout-list {
      display: none;
   }
}

@media (max-width: 575.99px) {

   .hero {
      padding-bottom: 60px;
   }

   .hero-top {
      height: 200px;
   }

   .hero-welcome {
      display: none;
   }

   .newsletter {
      padding-bottom: 140px;
   }

   .newsletter-form {
      flex-direction: column;
      align-items: center;
   }

   .newsletter-input {
      width: 100%;
      border-radius: 8px 8px 0 0;
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .newsletter-button {
      width: 100%;
      padding: 30px;
      border-radius: 0 0 8px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .advantages-list {
      grid-template-columns: 1fr;
   }

   .advantages-item:not(.advantages-first, .advantages-second) {
      border-bottom: 1px solid var(--blue);
   }

   .section-title {
      font-size: 23px;
      line-height: 30px;
   }

   .section-descr {
      font-size: 18px;
      line-height: 22px;
   }

   .filter-form-col {
      grid-template-columns: 1fr;
      row-gap: 30px;
   }

   .filter-title {
      text-align: center;
      line-height: 52px;
      margin-bottom: 40px;
   }

   .filter-group-title {
      margin-bottom: 14px;
   }

   .filter-group-item:not(:last-child) {
      margin-bottom: 6px;
   }

   .breadcrumbs {
      display: none;
   }

   .filter-group:last-child {
      justify-self: start;
   }

   .pagination {
      display: none;
   }

   .pagination-mobile {
      display: flex;
   }

   .price-input::placeholder {
      text-align: left;
   }

   .filter {
      padding-bottom: 40px;
   }

   .button-apply {
      margin-top: 20px;
   }
}

@media (max-width: 415px) {

   .product-cards-top {
      padding-top: 40px;
   }

   .filter-title {
      text-align: center;
      font-size: 56px;
      line-height: 46px;
      margin-bottom: 40px;
   }

   .product-information {
      grid-template-columns: 1fr;
      justify-items: center;
   }

   .product-cards-list {
      padding-bottom: 15px;
   }

   .product-card-title {
      text-align: center;
   }

   .product-order-select {
      width: 100%;
   }

   .price-inputs-container {
      display: grid;
      grid-template-columns: 1fr;
   }

   .price-input:last-child {
      border-left: 2px solid #fff;
      border-top: none;
   }

   .price-input {
      width: 100%;
   }

   .footer {
      justify-content: center;
   }

   .social-list {
      display: none;
   }

   .nav-social-list {
      display: flex;
   }

   .header-phone {
      display: none;
   }

   .header-button {
      margin-bottom: 30px;
   }

   .nav-social-list .nav-item:last-child {
      border-bottom: none;
   }

   .nav-phone {
      font-size: 18px;
   }
}

@media (max-width: 320px) {
   .section-title {
      line-height: 26px;
   }

   .section-descr {
      font-size: 16px;
      line-height: 19px;
   }

   .filter-title {
      font-size: 48px;
      line-height: 42px;
   }

   .product-card-image {
      height: 180px;
   }

   .product-card-title {
      font-size: 18px;
      margin: 10px 0;
   }

   .product-name,
   .product-price {
      font-size: 16px;
   }

   .product-information {
      row-gap: 10px;
   }
}

/* / MEDIA QUERIES */